In [1]:
import pandas as pd

# Load the dataset to see the first few rows and understand its structure
file_path = '../data/sea_level_cleaned.csv'
data = pd.read_csv(file_path)
data.head()

,Site,PSMSL ID,Latitude,Longitude,Scenario,Background RSL rate (mm/yr),RSL in 2000 (cm),RSL in 2010 (cm),RSL in 2020 (cm),RSL in 2030 (cm),RSL in 2040 (cm),RSL in 2050 (cm),RSL in 2060 (cm),RSL in 2070 (cm),RSL in 2080 (cm),RSL in 2090 (cm),RSL in 2100 (cm),RSL in 2120 (cm),RSL in 2150 (cm),RSL in 2200 (cm)
0,GMSL,0,NaN,NaN,0.3 - MED,0.0,0,3,6,9,13,16,19,22,25,28,30,34.0,37.0,39.0
1,GMSL,0,NaN,NaN,0.3 - LOW,0.0,0,3,5,9,12,15,18,21,24,26,29,30.0,32.0,29.0
2,GMSL,0,NaN,NaN,0.3 - HIGH,0.0,0,3,6,10,13,17,20,23,26,28,31,42.0,51.0,67.0
3,GMSL,0,NaN,NaN,0.5 - MED,0.0,0,4,8,13,18,24,29,35,40,45,50,60.0,73.0,95.0
4,GMSL,0,NaN,NaN,0.5 - LOW,0.0,0,3,7,12,16,22,27,33,38,44,49,56.0,66.0,77.0

In [3]:
import plotly.graph_objects as go
import plotly.express as px

# Preparing data for plotting
years = [f"RSL in {year} (cm)" for year in [2000, 2010, 2020, 2030, 2040, 2050, 2060, 2070, 2080, 2090, 2100, 2120, 2150, 2200]]
scenarios = data['Scenario'].unique()

# Time Series Plot
fig_time_series = go.Figure()
for scenario in Scenario:
    filtered_data = data[data['Scenario'] == scenario]
    fig_time_series.add_trace(go.Scatter(
        x=years,
        y=filtered_data[years].values[0],
        mode='lines+markers',
        name=scenario
    ))

fig_time_series.update_layout(title="Sea Level Rise Over Time by Scenario",
                              xaxis_title="Year",
                              yaxis_title="Relative Sea Level (cm)",
                              legend_title="Scenario")

# Comparison Plot by Decades
comparison_data = data.melt(id_vars=["Scenario"], value_vars=years,
                            var_name="Year", value_name="RSL")

fig_comparison = px.bar(comparison_data, x="Year", y="RSL", color="Scenario",
                        barmode='group', title="Comparison of Sea Level Rise Across Decades")

# Scenario Impact Plot for 2100
fig_scenario_impact_2100 = px.box(comparison_data[comparison_data['Year'] == 'RSL in 2100 (cm)'],
                                  y="RSL", color="Scenario",
                                  title="Range of Sea Level Changes by 2100 Under Different Scenarios")

# Bar Chart for Year 2100 Across Scenarios
year_2100_data = data[[f"RSL in 2100 (cm)", "Scenario"]].drop_duplicates()
fig_bar_2100 = px.bar(year_2100_data, x="Scenario", y="RSL in 2100 (cm)", title="Sea Level in 2100 by Scenario")

# Show the figures
fig_time_series.show()
fig_comparison.show()
fig_scenario_impact_2100.show()
fig_bar_2100.show()

NameError: name 'scenarios' is not defined

In [ ]:
# Redefining plots with the corrected years

# Time Series Plot
fig_time_series = go.Figure()
for scenario in scenarios:
    filtered_data = data[data['Scenario'] == scenario]
    fig_time_series.add_trace(go.Scatter(
        x=years,
        y=filtered_data[years].values[0],
        mode='lines+markers',
        name=scenario
    ))

fig_time_series.update_layout(title="Sea Level Rise Over Time by Scenario",
                              xaxis_title="Year",
                              yaxis_title="Relative Sea Level (cm)",
                              legend_title="Scenario")

# Comparison Plot by Decades
comparison_data = data.melt(id_vars=["Scenario"], value_vars=years,
                            var_name="Year", value_name="RSL")

fig_comparison = px.bar(comparison_data, x="Year", y="RSL", color="Scenario",
                        barmode='group', title="Comparison of Sea Level Rise Across Decades")

# Scenario Impact Plot for 2100
fig_scenario_impact_2100 = px.box(comparison_data[comparison_data['Year'] == 'RSL in 2100 (cm)'],
                                  y="RSL", color="Scenario",
                                  title="Range of Sea Level Changes by 2100 Under Different Scenarios")

# Bar Chart for Year 2100 Across Scenarios
year_2100_data = data[[f"RSL in 2100 (cm)", "Scenario"]].drop_duplicates()
fig_bar_2100 = px.bar(year_2100_data, x="Scenario", y="RSL in 2100 (cm)", title="Sea Level in 2100 by Scenario")

# Show the figures
fig_time_series.show()
fig_comparison.show()
fig_scenario_impact_2100.show()
fig_bar_2100.show()